//  map-get
$color-bg:(
    base: #E5D2B8,
    musgo-menu:  #809671,
    tierra-nucleo: #B3B792,
    white-menu: #f5f5dc,
    white-titulo: #f8e1ce,
    violet-title: #725C3A,
    black-subti: #2A2A24,
    violet-768: #DDBA94,
    violet-480: #E9E4DD,
    yellow: #eedd41,
    face: #3b5998,
    instagram: #d64b79,
    youtube: #c4302b
)