@media (min-width: 769px) and (max-width: 991px) {
    .portada {
        .navbar {
            justify-content: space-between;
            height: 3.5em;
            li {
                padding: 0.5em;
                a {
                    color: map-get($color-bg , black-subti );
                    text-decoration:overline;
                    font-weight: 650;
                }
            }
            &-brand{
                padding-top: 0em;
                height: 2em;
                .logo {
                    height: 2.4em;
                    padding-top: 0em;
                }
            }
            ul {
                flex-direction: column-reverse;
            }
        }
    }
    .final {
        .menu-final { 
            .link {
                margin-bottom: 00em;
            }
        }
    }
}